@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');

/* IMAGES */
.welcome-image {
    background-image: url(../styles/images/logo.png);
    background-repeat: no-repeat;
    background-color:#011730;
    height: 25px;
    display: block;
    margin: 0px auto;
}
.logo-image {
    background-image: url(../styles/images/logo.png);
    background-repeat: no-repeat;
    background-color:#011730;
    height: 25px;
    display: block;
    margin: 0px auto;
}

/* LOGIN VIEW STYLES */
.login-button {
    margin: 0 auto;
    display: block;
    width: 80%;
}

.km-view-title {
    background-color:#122135;
    font-family:"roboto", sans-serif;
    color:#ffffff !important;
    font-size:32px !important;
}

.km-navbar {
    color: #FFFFFF !important;
}

.km-ios #health-connect-drawer .km-content, .km-android #health-connect-drawer .km-content, .km-blackberry #health-connect-drawer .km-content,
.km-ios #health-connect-drawer .km-list > li, .km-android #health-connect-drawer .km-list > li, .km-blackberry #health-connect-drawer .km-list > li,
.km-ios #health-connect-drawer .km-listview-link > .km-icon, .km-android #health-connect-drawer .km-listview-link > .km-icon, .km-blackberry #health-connect-drawer .km-listview-link > .km-icon,
.km-ios #health-connect-drawer .km-list li > .km-icon, .km-android #health-connect-drawer .km-list li > .km-icon, .km-blackberry #health-connect-drawer .km-list li > .km-icon
{
    background-color: #ffffff;
    color: #fff;
}

.km-drawer-button:before, .km-drawer-button:after { 
    content: "\e054";
	color: #ffffff;
}

.timeFrameLink {
    text-align: right;
    padding: 10px;
}

.timeFrameLink a {
    text-decoration: none;
    font-size: 20px;
    color: #666666;
}

.selectedGroup {
    background-color: #65b75e !important;
    color: #ffffff !important;
}  

.listHeader {
    background-color: LightGrey;
}

.listHeaderSection {
    padding: 10px;
}

.listHeaderTitle{
    font-weight: lighter;
    font-size: 24px;
}

.listHeaderDetail {
    font-weight: lighter;
    font-size: 20px;
    float: right;
}

.km-list > li:first-child {
    border-top: 0 !important;
}

.km-list > li {
    border-image: none !important;
    border-top: 1px solid #999999 !important;
}

.listItemDetail div {
    border-top: 1px solid #999999 !important;

}


.listItemDetail {
    font-weight: lighter;
    font-size: 20px;
    color: #333333 !important;
    background-color: pink !important;
}

/* RETINA DISPLAY STYLES */
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .welcome-image {
        background-image: url(../styles/images/logo.png);
        background-size: 100%;
    }
    .logo-image {
        background-image: url(../styles/images/logo.png);
        background-size: 100%;
    }
}


.right {
    float: right;
}

.padding-10 {
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0 !important;
    margin: 0 !important;
}