<!DOCTYPE html>

<html>
    <head>
        <title>Referral Appointments</title>        
    </head>
    <body>
        <div data-role="view" data-title="Referral Appointments" 
             data-model="app.appointmentsService.viewModel"
             data-show="app.appointmentsService.viewModel.onShow">
            <div id="appointments-header">
            <div class="center padding-10" data-role="touch" data-enable-swipe="1" 
                data-swipe="app.appointmentsService.viewModel.onSwipeMonth">
                <span data-bind="text: month"></span>
            </div>
            <div data-role="touch" data-enable-swipe="1" 
                data-swipe="app.appointmentsService.viewModel.onWeekSwipe">
                <ul id="days-of-week-list"  data-click="app.appointmentsService.viewModel.onClick" 
                    data-role="listview" data-template="day-of-week-template" 
                    data-source="app.appointmentsService.viewModel.daysOfWeek"></ul>
                <script type="text/x-kendo-templ" id="day-of-week-template">
                    <span>#: data.day #</span><br/>
                    <span class="day-of-week-date">#: data.date #</span>
                    <input type="hidden" class="day-of-week-month" value="#: data.month #"/>
                    <input type="hidden" class="day-of-week-value" value="#: data.dateValue #"/>
                </script>
			</div>
            </div>
            <div data-bind="visible: noData" class="no-records-message">No appointments</div>

            <div data-role="scroller" id="appointments-scroller">
            <ul id="appointments-referrals-list" data-role="listview"
                data-template="appointments-template" 
                data-source="app.appointmentsDataSource" data-bound="app.appointmentsService.viewModel.onDataBound"></ul>
            </div>
            <script type="text/x-kendo-templ" id="appointments-template">
                <div class="listHeader">
            		<div class="listHeaderSection">
                        <span>#: data.AppointmentDatePrefix #</span>
                		<span>#: data.AppointmentDate #</span>
                	</div>
                </div>
                #= app.appointmentsService.viewModel.renderDetailsTemplate(data) #
            </script>
            <script id="appointments-details-template" type="text/x-kendo-template">
                <ul class="appointments-details listItemDetail">
                    # $.each(data.Offices, function (index, item) {
                    #
                    <li data-icon="details">
                        <div>${item.office}</div>
                        <div>${item.time}</div>
                    </li>#                         
                    }); 
                    #
                </ul>
            </script>
        </div>
    <script src="scripts/app/appointments.js"></script>
    </body>
</html>

