
         <div id="history-view" data-role="view" data-title="Referral History"
             data-model="app.views.history.viewModel"
             data-show="app.views.history.viewModel.refreshData">
        <div style="text-align: right">
             <a data-role="listview-link" data-bind="text: selectedTimeFrame.name" href="views/timeFrames.html"></a>
            </div>
        
      <ul data-icon="details" data-role="listview" data-template="history-template" 
          data-source="app.historyDataSource" 
          data-click="listViewClick"></ul>
        <script type="text/x-kendo-templ" id="history-template">
  			<span class="km-icon km-details"></span><span>#: data.Office.OfficeName #</span><span class="right"> #= data.TotalReferrals# Referrals</span>     
      		#= renderDetailsTemplate(data) #
		</script>
        <script id="history-details-template" type="text/x-kendo-template">
           <ul hidden  class="history-details">
            # $.each(data.ReferralHistoryDetails, function (index, item) {
            # <li data-icon="details"> ${item.DateString}  <span class="right">${item.NumberReferrals} Referrals</span></li>#                        
              }); 
            #
            </ul>
		</script>
    </div>
