<!DOCTYPE html>

<html>
    <head>
        <title>Referral History</title>
    </head>
    <body>
         <div id="tabstrip-history" data-role="view" data-title="Referral History"
             data-model="app.historyService.viewModel"
             data-show="app.historyService.viewModel.refreshData">
            <div class="timeFrameLink">
                <a data-role="listview-link" data-bind="text: selectedTimeFrame.name" href="views/timeFrames.html?back=history"></a>
            </div>
        <div data-bind="visible: noData" class="no-records-message">No referrals</div>
      <ul data-role="listview" data-template="history-template" data-source="app.historyDataSource"
          data-bound="app.historyService.viewModel.onDataBound"
          data-click="app.historyService.viewModel.listViewClick" data-pull-to-refresh="true"></ul>
        <script type="text/x-kendo-templ" id="history-template">
            <div class="listHeader">
            <div class="listHeaderSection">
  		  <span class="km-icon km-details"></span>
            <span class="listHeaderTitle">#: data.Office.OfficeName #</span>
            <span class="listHeaderDetail"> #= data.TotalReferrals# Referrals</span>     
            </div>
            </div>
      		#= app.historyService.viewModel.renderDetailsTemplate(data) #
		</script>
        <script id="history-details-template" type="text/x-kendo-template">
           <ul hidden  class="history-details listItemDetail">
            # $.each(data.ReferralHistoryDetails, function (index, item) {
            # <li>
            	<span>${item.DateString}</span>
            	<span class="right">${item.NumberReferrals} Referrals</span>
            </li>#                        
              }); 
            #
            </ul>
		</script>
    </div>
    </body>
</html>

