<html>
    <head></head>
    <body>
        
        <div data-role="view"
             data-title="Login"
             data-layout="unauthenticated-layout"
             data-model="app.loginService.viewModel">

            <!--<div class="logo-image" ></div>-->
            <div><image src="styles/images/logo.png" width="100%" /></div>
            <div>
                <h3 data-bind="visible: isLoggedIn" >
                    Welcome, <span data-bind="text: username"></span>!
                </h3>
                <input id="logout" type="submit" data-role="button" data-bind="click: onLogout, visible: isLoggedIn" value="Logout" class="login-button" />
            </div>
            <form data-bind="events: { keyup: checkEnter }">
                <h3 data-bind="invisible: isLoggedIn">Enter your credentials:</h3>
                <div data-bind="invisible: isLoggedIn">
                    <div class="padding-10">
                        <label>Username  </label><input type="text" data-bind="value: username" />
                    </div>
                    <div class="padding-10">
                        <label>Password  </label><input type="password" data-bind="value: password" />
                    </div>
                </div>
                <input id="login" type="submit" data-role="button" data-bind="click: onLogin, invisible: isLoggedIn" value="Login" class="login-button" />
            </form>
        </div>

    </body>
</html>