
        <div id="menu-view" data-role="view" 
            data-title="Menu"
            data-layout="unauthenticated-layout">
             <ul data-role="listview" id="menu-items">
                <li><a href="views/incoming.html" data-icon="incoming-icon"> Incoming Referrals</a></li>
                <li><a href="views/appointments.html" data-icon="appointments-icon"> Referral Appointments</a></li>
                <li><a href="views/history.html" data-icon="history-icon"> Referral History</a></li>
            </ul>
        </div>
