<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <div data-role="view" 
            data-title="Menu"
            data-layout="unauthenticated-layout"
            data-model="app.loginService.viewModel">
             <ul data-role="listview" id="menu-items">
                <li><a href="views/incoming.html" data-icon="incoming-icon"> Incoming Referrals</a></li>
                <li><a href="views/appointments.html" data-icon="appointments-icon"> Referral Appointments</a></li>
                <li><a href="views/history.html" data-icon="history-icon"> Referral History</a></li>
                <li data-bind="click: onLogout"><a data-icon="logout-icon"> Log Out</a></li>
            </ul>
        </div>
        
    </body>
</html>